{% extends 'base.html' %}

{% load static %}

{% block title %}Django Bookmark Detail{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url({% static 'img/about-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ object.title }}</h1>
            <span class="subheading">{{ object.title }} 이동 링크입니다.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
    <div id="content">
        <ul>
            <li>URL: <a href="{{ object.url }}">{{ object.url }}</a> </li>
        </ul>
    </div>
{% endblock %}

{% block extra-script %}{% endblock %}