{% extends 'base.html' %}
{% block title %}비밀번호 변경{% endblock title %}
{% block content %}

{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

<form action="." method="post">{% csrf_token %}
    <fieldset>
      <legend>비밀번호 변경</legend>
    <div class="row-cols-lg-4 mb-3">
        <div class="form-group">
            <label for="old_password" class="form-label mt-4">현재 비밀번호</label>
            <input type="password" class="form-control" name="old_password" id="old_password"
                value="{{ form.old_password.value|default_if_none:'' }}" autofocus />

            <label for="new_password1" class="form-label mt-4">새 비밀번호</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1"
                value="{{ form.new_password1.value|default_if_none:'' }}" />

            <label for="new_password2" class="form-label mt-4">새 비밀번호 확인</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2"
                value="{{ form.new_password2.value|default_if_none:'' }}" />
        </div>     
    </div>     
      <br/>
      <button type="submit" class="btn btn-primary">등록</button>
    </fieldset>
  </form>

{% endblock content %}