<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/zephyr/bootstrap.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'base/favicon.ico' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'base/junior.png' %}" height="50px">
        주니어즈
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recommend:link_list' %}">추천해요</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="#">게시판</a>
          </li>
          
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            {% if user.is_active %}
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">👨‍💻{{ user.get_username }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'password_change' %}">비밀번호 변경</a>
              <a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a>              
            </div>
            {% else %}
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">로그인이 필요합니다</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'join' %}">회원가입</a>
              <a class="dropdown-item" href="{% url 'login' %}">로그인</a>              
            </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
  <script src={% static "base/bootstrap.bundle.min.js" %}></script>
  <script src={% static "base/prism.js" %} data-manual></script>  
</body>
</html>